@font-face {
  font-family: Gobold;
  src:
    url(Gobold_Thin.woff2) format('woff2'),
    url(Gobold_Thin.woff) format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: Gobold;
  src:
    url(Gobold_Thin_Italic.woff2) format('woff2'),
    url(Gobold_Thin_Italic.woff) format('woff');
  font-style: italic;
}

@font-face {
  font-family: Montserrat;
  src:
    url(Montserrat-Regular.woff2) format('woff2'),
    url(Montserrat-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src:
    url(Montserrat-Italic.woff2) format('woff2'),
    url(Montserrat-Italic.woff) format('woff');
  font-style: italic;
}
