.page--backtofilter {
  align-self: flex-start;
  margin-left: 2rem;
}

.detail--div-grid {
  display: grid;
  grid-gap: 1rem;

  @media (--sm) {
    grid-template: repeat(4, auto) / auto;
    grid-template-areas:
      'actFoto'
      'actTitel'
      'actInfo'
      'actOver';
  }

  @media (--lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'actFoto actTitel'
      'actInfo actOver';
  }
}

.detail--div-foto {
  grid-area: actFoto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail--div-titels {
  grid-area: actTitel;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  @media (--sm) {
    justify-content: center;
    text-align: center;
  }

  @media (--lg) {
    justify-content: flex-end;
    text-align: right;
  }
}

.detail--container-icons {
  font-size: 1.8rem;

  @media (--sm) {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .2rem solid var(--paars);
  }
}

.detail--listitem-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.detail--daginfo {
  margin: 2rem 0;
}

.detail--dag {
  @media (--sm) {
    margin: 0;
    height: 6rem;
    background-color: var(--paars);
  }
}

hr {
  border-color: var(--paars);
}

.website {
  font-size: 1.6rem;
}

.detail--container-listitem-icon {
  @media (--sm) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (--md) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.detail__div__actinfo {
  grid-area: actInfo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__name_act {
  font-family: Gobold, Arial, Helvetica, sans-serif;
  color: black;
  font-style: thin;
  font-size: 3.8rem;
  background-color: var(--blauwgroen);
}

.detail__name_group {
  padding: 1rem 0;
  font-style: italic;
  font-size: 2.6rem;
}

.detail--title-beschrijving-act {
  font-size: 3.6rem;
  padding: 0 0 1rem 2rem;
}

.detail--beschrijving-act {
  font-size: 2rem;
  padding-left: 2rem;
  line-height: 2.8rem;
}

.detail--div-beschrijving {
  grid-area: actOver;
  display: grid;
  height: auto;

  @media (--sm) {
    width: 90vw;
    grid-template: repeat(2, auto) / 1fr;
    margin-left: 1rem;
  }

  @media (--md) {
    width: 80vw;
    grid-template: 1fr / repeat(2, auto);
    margin-left: 5rem;
  }

  @media (--lg) {
    width: 40vw;
  }
}

.detail--div-beschrijving-foto {
  @media (--sm) {
    background-image: url(./../assets/img/detail_beschrijving_320.png);
    height: 3rem;
    background-repeat: repeat-x;
  }

  @media (--md) {
    background-image: url(./../assets/img/detail_beschrijving_768.png);
    background-repeat: repeat-y;
    width: 2.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (--lg) {
    background-image: url(./../assets/img/detail_beschrijving_1024.png);
  }

  @media (--xl) {
    background-image: url(./../assets/img/detail_beschrijving_1440.png);
    width: 7rem;
  }
}

.detail--video-foto {
  @media (--sm) {
    width: 32rem;
    height: 20rem;
  }

  @media (--md) {
    width: 70.8rem;
    height: 40rem;
  }

  @media (--lg) {
    width: 90rem;
    height: 50rem;
  }
}

.container--video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;

  @media (--sm) {
    height: 30rem;
    background-image: url(./../assets/img/detail_video_320.png);
  }

  @media (--md) {
    height: 60rem;
    background-image: url(./../assets/img/detail_video_768.png);
  }

  @media (--lg) {
    height: 75rem;
    background-image: url(./../assets/img/detail_video_1024.png);
  }

  @media (--xl) {
    height: 80rem;
    background-image: url(./../assets/img/detail_video_1440.png);
  }
}

.container--scrollfoto {
  margin: 5rem auto;
  width: 100vw;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, auto);
  overflow: scroll;
}

.title--ookvandaag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
