/* detail */

.detail--div-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'actFoto actTitel'
    'actInfo actOver';
}

.detail--div-foto {
  grid-area: actFoto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail--div-titels {
  grid-area: actTitel;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  text-align: right;
}

.detail--container-icons {
  background-image: url(./../assets/img/detail_gegevens_1440.png);
  width: 33.7rem;
  height: 31.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail--listitem-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail__div__actinfo {
  grid-area: actInfo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail__name_act {
  font-size: 4.8rem;
}

.detail__name_group {
  font-size: 3.6rem;
}

.detail--title-beschrijving-act {
  font-size: 3.6rem;
}

.detail--beschrijving-act {
  font-size: 2rem;
}

.detail--div-beschrijving {
  grid-area: actOver;
  display: flex;
  flex-direction: row;
  width: 60rem;
}

.container--video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./../assets/img/detail_video_1440.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100rem;
}

.container--scrollfoto {
  margin: 2rem 1rem;
  width: 100vw;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, auto);
  overflow: scroll;
}

.title--ookvandaag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
