.headerbeeld {
  @media (--sm) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  & div {
    text-align: center;
  }
}

.header_datum {
  /* font-size: 4rem; */

  @media (--sm) {
    font-size: 1.8rem;
  }
}

.header_editie {
  padding-top: .5rem;
  color: white;
  background-repeat: no-repeat;
  text-align: center;

  @media (--sm) {
    background-image: url(./../assets/img/editie_320.png);
    width: 17.3rem;
    height: 2.3rem;
    font-size: 2.4rem;
  }

  @media (--md) {
    background-image: url(./../assets/img/editie_768.png);
    width: 22.9rem;
    height: 3.1rem;
    font-size: 2rem;
  }

  @media (--lg) {
    background-image: url(./../assets/img/editie_1024.png);
    width: 22.9rem;
    height: 3.1rem;
  }

  @media (--xl) {
    background-image: url(./../assets/img/editie_1440.png);
    width: 27.6rem;
    height: 3.1rem;
  }
}

.header_gratis {
  /* font-size: 3.4rem; */

  @media (--sm) {
    font-size: 2rem;
  }
}

.familiedag {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* grid-template-columns: 1fr; */
}

.familiedag > div {
  display: grid;
  padding-top: 2rem;

  @media (--sm) {
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
      'kijker1'
      'kijker2';
  }

  @media (--md) {
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
      'kijker1'
      'kijker2';
  }

  @media (--lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    grid-template-areas: 'kijker1 kijker2';
  }

  @media (--xl) {
    grid-gap: 2rem;
  }
}

.home_voorstelling_article {
  display: flex;
  flex-direction: column;
  grid-area: kijker1;
}

.home_voorstelling {
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
  }
}

.home_voorstelling_foto {
  width: 29rem;
  height: 29rem;
  background-image: url();
}

.home_voorstelling_info {
  width: 25.2rem;
  height: 25.8rem;
  background-image: url(./../assets/img/kijker1_320.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (--sm) {
    background-image: url(./../assets/img/kijker1_320.png);
  }

  @media (--md) {
    background-image: url(./../assets/img/kijker1_768.png);
  }

  @media (--md) {
    background-image: url(./../assets/img/kijker1_1024.png);
  }

  @media (--md) {
    background-image: url(./../assets/img/kijker1_1440.png);
  }
}

.act_name {
  font-size: 2.5rem;
}

.group_name {
  font-size: 1.8rem;
  font-style: italic;
}

.hours {
  font-size: 2rem;
}

.meerWeten {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.home_straatact_article {
  grid-area: kijker2;
}

.home_straatact {
  display: flex;
  align-items: center;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
  }
}

.home_straatact_info {
  background-color: var(--blauwgroen);
  padding: 2rem 2rem 2rem 6rem;

  @media (--sm) {
    width: 25rem;
    height: 22rem;
  }

  @media (--lg) {
    margin-left: -6rem;
  }
}

.alleButton {
  font-size: 1.8rem;
  background-color: white;
  border: .2rem solid;
  border-color: var(--paars);
  border-radius: 25rem;
  padding: .5rem 1.5rem;
}

.over_isb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--lg) {
    flex-direction: row;
  }
}

.over_isb_titel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  margin-right: 4rem;

  @media (--sm) {
    width: 29.6rem;
    height: 9.2rem;
    background-image: url(./../assets/img/ISB_320.png);
    flex-direction: row;
  }

  @media (--md) {
    background-image: url(./../assets/img/ISB_768.png);
    background-repeat: no-repeat;
    width: 36.7rem;
    height: 9.3rem;
  }

  @media (--lg) {
    background-image: url(./../assets/img/ISB_1024.png);
    width: 9.3rem;
    height: 36.7rem;
  }

  @media (--xl) {
    background-image: url(./../assets/img/ISB_1440.png);
    width: 9.3rem;
    height: 36.7rem;
  }
}

.over_isb_uitleg {
  @media (--sm) {
    font-size: 1.8rem;
    padding: 1rem;
    line-height: 2.8rem;
    width: 100vw;
  }

  @media (--md) {
    width: 62.7rem;
    height: 28rem;
  }

  @media (--lg) {
    width: 70rem;
    height: 30rem;
    font-size: 2rem;
    border-left: .5rem solid;
    border-color: black;
    padding: 4rem;
  }
}

.vrijwilligers {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 1rem;

  @media (--sm) {
    background-image: url(./../assets/img/vrijwilliger_320.png);
  }

  @media (--md) {
    background-image: url(./../assets/img/vrijwilliger_768.png);
  }

  @media (--lg) {
    background-image: url(./../assets/img/vrijwilliger_1024.png);
  }

  @media (--xl) {
    background-image: url(./../assets/img/vrijwilliger_1440.png);
  }
}

.vrijwilliger_titel {
  font-size: 7.2rem;

  @media (--sm) {
    font-size: 4.8rem;
  }
}

.vrijwilliger_uitleg {
  background-color: white;
  border: .2rem solid;
  border-color: var(--blauwgroen);
  font-size: 2rem;
  padding: 2rem;

  line-height: 2.8rem;

  @media (--sm) {
    width: 30.3rem;
    height: 42.9rem;
    /* margin-left: 2rem; */
  }

  @media (--lg) {
    width: 73.7rem;
    height: 23.9rem;
    margin-left: 20rem;
  }
}

.andere_evenementen {
  display: grid;

  @media (--sm) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      'event1'
      'event2'
      'event3'
      'event4';
  }

  @media (--md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'event1 event2'
      'event3 event4';
  }

  @media (--xl) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'event1 event2 event3 event4';
  }
}

.event1 {
  grid-area: event1;
}

.event2 {
  grid-area: event2;
}

.event3 {
  grid-area: event3;
}

.event4 {
  grid-area: event4;
}

.ander_event {
  display: grid;

  @media (--sm) {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 5rem 1fr;

    grid-template-areas:
      'event_title event_title'
      'event_foto event_beschrijving';
  }

  @media (--md) {
    width: 30rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5rem 1fr;

    grid-template-areas:
      'event_foto'
      'event_title'
      'event_beschrijving';
  }
}

.event_title {
  grid-area: event_title;
  font-size: 2.4rem;
  text-align: center;
  padding-top: 1.5rem;
}

.event_foto {
  grid-area: event_foto;
}

.event_beschrijving {
  grid-area: event_beschrijving;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
