/* overzicht */

.switch-field {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  /* padding: 40px; */
  /* overflow: hidden; */
}

.switch-dagen {
  display: flex;
  flex-direction: column;
}

.switch-soorten {
  display: flex;
  flex-direction: column;
}

.switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
  /* display: inline-block; */
  /* width: 60px; */
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, .6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 25rem;
  /* padding: 1rem; */
  margin: 1rem;
  /* -webkit-box-shadow:
    inset 0 1px 3px rgba(0, 0, 0, .3),
    0 1px rgba(255, 255, 255, .1); */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
  /* -webkit-transition: all .1s ease-in-out; */
  /* -moz-transition: all .1s ease-in-out; */
  /* -ms-transition: all .1s ease-in-out; */
  /* -o-transition: all .1s ease-in-out; */
  transition: all .1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--blauwgroen);
  box-shadow: none;
}

.slecht_weer {
  font-size: 1.6rem;
}

/* .resultaten_section {
  display: grid;
} */

.resultaat {
  width: 30rem;
}

.resultaat_foto {
  width: 30rem;
  height: 30rem;
}

.resultaat_info {
  background-image: url(./../assets/img/resultaat_320.png);
  background-repeat: no-repeat;
  height: 30rem;
  padding-top: 10rem;
  padding-left: 3rem;
  margin-top: -8rem;
}

.resultaat_info_act {
  font-size: 2.5rem;
  padding: .5rem;
}

.resultaat_info_group {
  font-size: 1.8rem;
  padding: .5rem;
}

.resultaat_info_hour {
  font-size: 2rem;
  padding: .5rem;
}

.meer_resultaten {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--blauwgroen);
}
