/* overzicht */

.switch-field {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

.switch-dagen {
  display: flex;
  flex-direction: column;
}

.switch-soorten {
  display: flex;
  flex-direction: column;
}

.switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, .6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 25rem;
  margin: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3), 0 1px rgba(255, 255, 255, .1);
  transition: all .1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--blauwgroen);
  box-shadow: none;
}

.section--slechtweer {
  font-size: 1.6rem;
}

.article--resultaat {
  width: 30rem;
}

.grid--resultaten {
  display: grid;

  @media (--sm) {
    grid-template-columns: auto;
  }

  @media (--md) {
    grid-template-columns: repeat(2, auto);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, auto);
  }

  @media (--xl) {
    grid-template-columns: repeat(4, auto);
  }
}

.decoratie--streep {
  margin-top: -30rem;
}

.container--resultaat-img {
  width: 30rem;
  height: 30rem;
}

.container--resultaat-info {
  height: 30rem;
  padding-top: 10rem;
  padding-left: 3rem;
  margin-top: -8rem;
}

.title--resultaat-name-act {
  font-size: 2.5rem;
  padding: .5rem;
}

.title--resultaat-name-group {
  font-size: 1.8rem;
  padding: .5rem;
}

.p--resultaat-uur {
  font-size: 2rem;
  padding: .5rem;
}

.meer_resultaten {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--blauwgroen);
}
