/* overzicht */

.switch-field {
  color: black;
  font-size: 2.8rem;
  font-family: Montserrat, Tahoma, Verdana, sans-serif;
}

.switch-dagen {
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
  }
}

.switch-soorten {
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
  }
}

.switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  /* height: 1px;
  width: 1px; */
  /* border: 0; */
  overflow: hidden;
}

.switch-field label {
  float: left;
  color: black;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid var(--blauwgroen);
  border-radius: 25rem;
  margin: 1rem;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: var(--blauwgroen);
  box-shadow: none;
}

.section--slechtweer {
  font-size: 1.6rem;

  @media (--sm) {
    margin: 2rem;
  }

  @media (--md) {
    margin: 4rem;
  }
}

.article--resultaat {
  width: 30rem;
}

.grid--resultaten {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.decoratie--streep {
  margin-top: -30rem;
}

.container--resultaat-img {
  width: 30rem;
  height: 30rem;
}

.container--resultaat-info {
  height: 30rem;
  padding-top: 10rem;
  padding-left: 6.5rem;
  margin-top: -8rem;
}

.title--resultaat-name-act {
  color: black;
  font-size: 2.5rem;
  padding: .5rem;
}

.title--resultaat-name-group {
  color: black;
  font-size: 1.8rem;
  padding: .5rem;
}

.p--resultaat-uur {
  color: black;
  font-size: 2rem;
  padding: .5rem;
}

.button--filter-submit {
  font-size: 2rem;
  width: 27rem;
  height: 4rem;
  background-color: var(--paars);
  border: .1rem solid var(--paars);
  border-radius: 25rem;
}
