:root {
  /* --rood: #f55c34; */
  --rood: #a91000;
  /* --rood: #a91a4b; */
  --blauwgroen: #00b08d;
  --paars: #cd57ff;
  --blauw: #00a5ff;
}

/* @custom-media --xs screen and (min-width: 0); */
@custom-media --sm screen and (min-width: 20em); /* 320 */
@custom-media --md screen and (min-width: 48em); /* 768 */
@custom-media --lg screen and (min-width: 64em); /* 1024 */
@custom-media --xl screen and (min-width: 90em); /* 1440 */
