@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/home.css';
@import './css/overzicht.css';
@import './css/detail.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-enable */

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.title_underline {
  width: 100%;
  font-size: 4.8rem;
  background-repeat: no-repeat;
  background-position-y: 3rem;

  @media (--sm) {
    font-size: 3.6rem;
    background-image: url(./assets/img/titel_768.png);
    background-position-y: 2rem;
  }

  @media (--md) {
    background-image: url(./assets/img/titel_768.png);
  }

  @media (--lg) {
    background-image: url(./assets/img/titel_1024.png);
  }

  @media (--xl) {
    background-image: url(./assets/img/titel_1440.png);
  }
}

.tag {
  font-size: 1.8rem;
  color: white;
  padding: .5rem 1rem;
  background-color: var(--rood);
  border-radius: 1rem;

  @media (--sm) {
    font-size: 1.6rem;
  }
}

/* navigation */

nav {
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
  }
}

.logo {
  grid-area: logo;
}

.menu_list {
  grid-area: menu;
  color: #000;
}

h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
}

.toggle,
[id^='drop'] {
  display: none;
}

nav a {
  display: block;
  padding: 14px 20px;
  color: #000;
  font-size: 17px;
  text-decoration: none;
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

  .toggle + a,
  .menu {
    display: none;
  }

  .toggle {
    display: block;
    /* background-color: #254441; */
    padding: 14px 20px;
    color: #000;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  .toggle:hover {
    color: #f00;
  }

  [id^='drop']:checked + ul {
    display: block;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    color: #f00;
  }

  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
  }

  nav ul li ul li .toggle,
  nav ul ul a {
    color: #000;
  }

  nav ul ul {
    float: none;
    position: static;
    color: #fff;
  }

  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 1rem 1rem 2rem;

  @media (--sm) {
    background-image: url(./assets/img/footer_320.png);
    background-repeat: repeat-x;
    height: 92.6rem;
  }

  @media (--md) {
    background-image: url(./assets/img/footer_768.png);
    background-repeat: repeat-x;
    height: 68.8rem;
  }

  @media (--lg) {
    background-image: url(./assets/img/footer_1024.png);
    background-repeat: repeat-x;
    height: 43rem;
  }
}

.footer_article_opdehoogte {
  grid-area: opdehoogte;
  font-size: 1.8rem;
  margin: 1rem 1rem 4rem;
  display: flex;
  flex-direction: column;

  align-items: center;

  @media (--sm) {
    justify-content: flex-end;
  }

  @media (--lg) {
    justify-content: center;
  }
}

.footer_article_opdehoogte > h2 {
  padding-bottom: 3rem;
}

.footer_article_rest {
  grid-area: rest;
  display: flex;

  @media (--sm) {
    flex-direction: column;
  }

  @media (--md) {
    flex-direction: row;
    padding-top: 4rem;
  }

  @media (--lg) {
    flex-direction: row;
    padding-top: 9rem;
  }
}

.footer_text {
  /* margin-bottom: 8rem; */
  display: grid;

  @media (--sm) {
    height: 92.6rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      'opdehoogte'
      'rest';
  }

  @media (--md) {
    /* height: 92.6rem; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'opdehoogte'
      'rest';
  }

  @media (--lg) {
    height: 68.8rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'opdehoogte rest';
  }

  @media (--xl) {
    height: 68.8rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'opdehoogte rest';
  }
}

.footer_title {
  font-size: 3rem;
}

.footer_article {
  font-size: 1.8rem;
  margin: 2rem;

  @media (--xl) {
    margin: 2rem 6rem;
  }
}

.footer_article > p {
  padding-top: 2rem;
}
